.background-image {
    background: url(../../images/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
    overflow: hidden;
    height: 100%;
}

.info {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    text-align: center;
    transform: translate(-50%, -50%);
}

#description-home, #date {
    font-family: 'Italianno', cursive;
    font-size: 80px;
    align-content: center;
    color: #8B4513;
    justify-content: center;
    align-content: center;
}

#date {
    font-size: 40px;
}