.top-menu ul {
    list-style:none;
}

.top-menu ul li {
    display: inline-block;
    margin-right:20px;
    margin-bottom:10px;
    background: transparent;
    padding:5px;
}

.top-menu ul li a {
    font-family: 'Italianno', cursive;
    font-size: 35px;
    color: #8B4513;
    text-decoration:none;
}

