.top-menu ul {
    list-style:none;
}

.top-menu ul li {
    display: inline-block;
    margin-right:20px;
    margin-bottom:10px;
    background: transparent;
    padding:5px;
    border-bottom: 3px solid transparent; 
}

.top-menu ul li:hover {
    border-bottom: 1.1px solid #8B4513;
}

.top-menu ul li:hover a {
    background: transparent;
}

.top-menu ul li a {
    font-family: 'Italianno', cursive;
    font-size: 35px;
    color: #8B4513;
    text-decoration: none;
}

.line {
    background-color: #8B4513;
}

.bg-nav {
    background-color: rgba(255, 255, 255, 0.5);
}


/* PC */
@media (min-width: 768px) {
    .bg-nav {
        background: 0;
    }
  }