#description-transport {
    font-family: 'Italianno', cursive;
    font-size: 50px;
    color: #8B4513;
}

/*.map-place {
    border: 0;
    float: right;
}

#map {
    border-radius: 13px 13px 13px 13px;
    -moz-border-radius: 13px 13px 13px 13px;
    -webkit-border-radius: 13px 13px 13px 13px;
    border: 1px solid #8B4513;
}
*/